<%- include('header'); -%>

    <h2>About Page</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, fugiat. Consequuntur natus magnam praesentium ut
        impedit reprehenderit eum nisi nulla, porro modi aliquam quo blanditiis. Omnis a iure optio. Expedita.</p>

    <%- include('footer'); -%>